<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <p>Se formó en las categorías inferiores del Valencia C. F., llegando al Valencia C. F. Mestalla.

                Fue titular indiscutible en el equipo, llegando a ser decisivo en el ascenso a Segunda División B en la
                campaña 2007-08,
                donde el equipo logró la segunda posición en la Tercera División.

                En la temporada 2008-09 debutó con el primer equipo del Valencia C. F. en la Copa de la UEFA contra el
                Club Brujas en
                Mestalla.

                En la temporada 2009-10 se fue cedido al Cádiz C. F. de segunda división.1​

                En la temporada 2010-11 rescindió su contrato con el Valencia C. F. y se fue libre al Villarreal C. F.,
                donde jugó con
                el filial en segunda división, siendo titular indiscutible tanto para Javi Gracia como para José
                Francisco Molina,
                logrando la salvación en la categoría.

                ​</p>
        </div>
        <div class="col-6">
            <p>Tras un par de temporadas con el filial, en verano de 2012, ascendió al primer equipo, con el que
                consiguió el ascenso a
                la Primera División. En su campaña de debut fue un fijo para Marcelino García Toral en el lateral
                izquierdo, ganándole
                la partida a uno de los fichajes de la temporada, el esloveno Bojan Jokic.

                Fueron pasando las temporadas y consiguió convertirse en uno de los pilares fundamentales del equipo,
                favorito de la
                afición y capitán del submarino amarillo.[cita requerida]

                En agosto de 2019 regresó al Valencia C. F. nueve años después tras llegar a un acuerdo con el
                Villarreal para su cesión
                por una temporada.2​

                Tras poner punto y final a su etapa en el Villarreal C. F. al finalizar la temporada 2020-21, se
                comprometió con el R.
                C. D. Mallorca por dos años.3</p>
        </div>
    </div>
</div>