<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aklshf</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body class="bg box">
    <div>
        <h1 class="font">Jaume Costa</h1>
        <nav class=" navMenu">

            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photo_gallery">Gallery</a>
            <div class="dot"></div>
        </nav>
    </div>
</body>

</html>