<div class="center">
    <table class="wikitable center" style="text-align:center">

        <tbody>
            <tr>
                <th rowspan="2">Club
                </th>
                <th rowspan="2">Div.
                </th>
                <th rowspan="2">Temporada
                </th>
                <th colspan="2">Liga
                </th>
                <th colspan="2">Copas<br>nacionales<sup>(<a href="#1">1</a>)</sup>
                </th>
                <th colspan="2">Copas<br>internacionales<sup>(<a href="#2">2</a>)</sup>
                </th>
                <th colspan="2">Total
                </th>
            </tr>
            <tr>
                <th><a href="/wiki/Competici%C3%B3n_(juego)#Partidos_a_dos" title="Competición (juego)">Part.</a>
                </th>
                <th><a href="/wiki/Gol#Fútbol" title="Gol">Goles</a>
                </th>
                <th><a href="/wiki/Competici%C3%B3n_(juego)#Partidos_a_dos" title="Competición (juego)">Part.</a>
                </th>
                <th><a href="/wiki/Gol#Fútbol" title="Gol">Goles</a>
                </th>
                <th><a href="/wiki/Competici%C3%B3n_(juego)#Partidos_a_dos" title="Competición (juego)">Part.</a>
                </th>
                <th><a href="/wiki/Gol#Fútbol" title="Gol">Goles</a>
                </th>
                <th><a href="/wiki/Competici%C3%B3n_(juego)#Partidos_a_dos" title="Competición (juego)">Part.</a>
                </th>
                <th><a href="/wiki/Gol#Fútbol" title="Gol">Goles</a>
                </th>
            </tr>
            <tr>
                <td rowspan="2"><b><a href="/wiki/Valencia_Club_de_F%C3%BAtbol_Mestalla"
                            title="Valencia Club de Fútbol Mestalla">Valencia C. F. Mestalla</a></b><br><small><span
                            style="display:none;">España</span><span class="flagicon"><img alt="Bandera de España"
                                src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/20px-Flag_of_Spain.svg.png"
                                decoding="async" title="Bandera de España" width="20" height="13" class="thumbborder"
                                srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/30px-Flag_of_Spain.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/40px-Flag_of_Spain.svg.png 2x"
                                data-file-width="750" data-file-height="500"></span>&nbsp;<a href="/wiki/Espa%C3%B1a"
                            title="España">España</a></small>
                </td>
                <td><a href="/wiki/Segunda_Divisi%C3%B3n_B_de_Espa%C3%B1a" title="Segunda División B de España">2.ª
                        B</a>
                </td>
                <td>2008-09</td>
                <td>35</td>
                <td>0</td>
                <td colspan="2">—</td>
                <td colspan="2">—</td>
                <td>35</td>
                <td>0
                </td>
            </tr>
            <tr>
                <th colspan="2">Total club</th>
                <th>35</th>
                <th>0</th>
                <th>0</th>
                <th>0</th>
                <th>0</th>
                <th>0</th>
                <th>35</th>
                <th>0
                </th>
            </tr>
            <tr>
                <td><b><a href="/wiki/Valencia_Club_de_F%C3%BAtbol" title="Valencia Club de Fútbol">Valencia C.
                            F.</a></b><br><small><span style="display:none;">España</span><span class="flagicon"><img
                                alt="Bandera de España"
                                src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/20px-Flag_of_Spain.svg.png"
                                decoding="async" title="Bandera de España" width="20" height="13" class="thumbborder"
                                srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/30px-Flag_of_Spain.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/40px-Flag_of_Spain.svg.png 2x"
                                data-file-width="750" data-file-height="500"></span>&nbsp;<a href="/wiki/Espa%C3%B1a"
                            title="España">España</a></small>
                </td>
                <td><a href="/wiki/Primera_Divisi%C3%B3n_de_Espa%C3%B1a" title="Primera División de España">1.ª</a>
                </td>
                <td>2008-09</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>1</td>
                <td>0
                </td>
            </tr>
            <tr>
                <td rowspan="2"><b><a href="/wiki/C%C3%A1diz_Club_de_F%C3%BAtbol" title="Cádiz Club de Fútbol">Cádiz C.
                            F.</a></b><br><small><span style="display:none;">España</span><span class="flagicon"><img
                                alt="Bandera de España"
                                src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/20px-Flag_of_Spain.svg.png"
                                decoding="async" title="Bandera de España" width="20" height="13" class="thumbborder"
                                srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/30px-Flag_of_Spain.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/40px-Flag_of_Spain.svg.png 2x"
                                data-file-width="750" data-file-height="500"></span>&nbsp;<a href="/wiki/Espa%C3%B1a"
                            title="España">España</a></small>
                </td>
                <td><a href="/wiki/Segunda_Divisi%C3%B3n_de_Espa%C3%B1a" title="Segunda División de España">2.ª</a>
                </td>
                <td>2009-10</td>
                <td>15</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td colspan="2">—</td>
                <td>15</td>
                <td>0
                </td>
            </tr>
            <tr>
                <th colspan="2">Total club</th>
                <th>15</th>
                <th>0</th>
                <th>0</th>
                <th>0</th>
                <th>0</th>
                <th>0</th>
                <th>15</th>
                <th>0
                </th>
            </tr>
            <tr>
                <td rowspan="3"><b><a href="/wiki/Villarreal_Club_de_F%C3%BAtbol_%22B%22"
                            title="Villarreal Club de Fútbol &quot;B&quot;">Villarreal C. F. "B"</a></b><br><small><span
                            style="display:none;">España</span><span class="flagicon"><img alt="Bandera de España"
                                src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/20px-Flag_of_Spain.svg.png"
                                decoding="async" title="Bandera de España" width="20" height="13" class="thumbborder"
                                srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/30px-Flag_of_Spain.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/40px-Flag_of_Spain.svg.png 2x"
                                data-file-width="750" data-file-height="500"></span>&nbsp;<a href="/wiki/Espa%C3%B1a"
                            title="España">España</a></small>
                </td>
                <td rowspan="2"><a href="/wiki/Segunda_Divisi%C3%B3n_B_de_Espa%C3%B1a"
                        title="Segunda División B de España">2.ª B</a>
                </td>
                <td>2010-11</td>
                <td>36</td>
                <td>1</td>
                <td colspan="2">—</td>
                <td colspan="2">—</td>
                <td>36</td>
                <td>1
                </td>
            </tr>
            <tr>
                <td>2011-12</td>
                <td>29</td>
                <td>2</td>
                <td colspan="2">—</td>
                <td colspan="2">—</td>
                <td>29</td>
                <td>2
                </td>
            </tr>
            <tr>
                <th colspan="2">Total club</th>
                <th>65</th>
                <th>3</th>
                <th>0</th>
                <th>0</th>
                <th>0</th>
                <th>0</th>
                <th>65</th>
                <th>3
                </th>
            </tr>
            <tr>
                <td rowspan="8"><b><a href="/wiki/Villarreal_Club_de_F%C3%BAtbol"
                            title="Villarreal Club de Fútbol">Villarreal C. F.</a></b><br><small><span
                            style="display:none;">España</span><span class="flagicon"><img alt="Bandera de España"
                                src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/20px-Flag_of_Spain.svg.png"
                                decoding="async" title="Bandera de España" width="20" height="13" class="thumbborder"
                                srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/30px-Flag_of_Spain.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/40px-Flag_of_Spain.svg.png 2x"
                                data-file-width="750" data-file-height="500"></span>&nbsp;<a href="/wiki/Espa%C3%B1a"
                            title="España">España</a></small>
                </td>
                <td><a href="/wiki/Primera_Divisi%C3%B3n_de_Espa%C3%B1a" title="Primera División de España">1.ª</a>
                </td>
                <td>2011-12</td>
                <td>6</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>7</td>
                <td>0
                </td>
            </tr>
            <tr>
                <td rowspan="1"><a href="/wiki/Segunda_Divisi%C3%B3n_de_Espa%C3%B1a"
                        title="Segunda División de España">2.ª</a>
                </td>
                <td>2012-13</td>
                <td>32</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td colspan="2">—</td>
                <td>33</td>
                <td>0
                </td>
            </tr>
            <tr>
                <td rowspan="6"><a href="/wiki/Primera_Divisi%C3%B3n_de_Espa%C3%B1a"
                        title="Primera División de España">1.ª</a>
                </td>
                <td>2013-14</td>
                <td>30</td>
                <td>1</td>
                <td>2</td>
                <td>0</td>
                <td colspan="2">—</td>
                <td>32</td>
                <td>1
                </td>
            </tr>
            <tr>
                <td>2014-15</td>
                <td>29</td>
                <td>1</td>
                <td>7</td>
                <td>0</td>
                <td>7</td>
                <td>0</td>
                <td>43</td>
                <td>1
                </td>
            </tr>
            <tr>
                <td>2015-16</td>
                <td>18</td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
                <td>8</td>
                <td>0</td>
                <td>27</td>
                <td>1
                </td>
            </tr>
            <tr>
                <td>2016-17</td>
                <td>31</td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
                <td>3</td>
                <td>0</td>
                <td>35</td>
                <td>1
                </td>
            </tr>
            <tr>
                <td>2017-18</td>
                <td>30</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>5</td>
                <td>0</td>
                <td>36</td>
                <td>0
                </td>
            </tr>
            <tr>
                <td>2018-19</td>
                <td>21</td>
                <td>1</td>
                <td>2</td>
                <td>0</td>
                <td>6</td>
                <td>0</td>
                <td>29</td>
                <td>1
                </td>
            </tr>
            <tr>
                <td rowspan="2"><b>Valencia C. F.</b><br><small><span style="display:none;">España</span><span
                            class="flagicon"><img alt="Bandera de España"
                                src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/20px-Flag_of_Spain.svg.png"
                                decoding="async" title="Bandera de España" width="20" height="13" class="thumbborder"
                                srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/30px-Flag_of_Spain.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/40px-Flag_of_Spain.svg.png 2x"
                                data-file-width="750" data-file-height="500"></span>&nbsp;<a href="/wiki/Espa%C3%B1a"
                            title="España">España</a></small>
                </td>
                <td><a href="/wiki/Primera_Divisi%C3%B3n_de_Espa%C3%B1a" title="Primera División de España">1.ª</a>
                </td>
                <td>2019-20</td>
                <td>19</td>
                <td>0</td>
                <td>3</td>
                <td>0</td>
                <td>3</td>
                <td>0</td>
                <td>25</td>
                <td>0
                </td>
            </tr>
            <tr>
                <th colspan="2">Total club</th>
                <th>19</th>
                <th>0</th>
                <th>3</th>
                <th>0</th>
                <th>4</th>
                <th>0</th>
                <th>26</th>
                <th>0
                </th>
            </tr>
            <tr>
                <td rowspan="2"><b>Villarreal C. F.</b><br><small><span style="display:none;">España</span><span
                            class="flagicon"><img alt="Bandera de España"
                                src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/20px-Flag_of_Spain.svg.png"
                                decoding="async" title="Bandera de España" width="20" height="13" class="thumbborder"
                                srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/30px-Flag_of_Spain.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/40px-Flag_of_Spain.svg.png 2x"
                                data-file-width="750" data-file-height="500"></span>&nbsp;<a href="/wiki/Espa%C3%B1a"
                            title="España">España</a></small>
                </td>
                <td><a href="/wiki/Primera_Divisi%C3%B3n_de_Espa%C3%B1a" title="Primera División de España">1.ª</a>
                </td>
                <td>2020-21</td>
                <td>14</td>
                <td>0</td>
                <td>3</td>
                <td>1</td>
                <td>8</td>
                <td>0</td>
                <td>25</td>
                <td>1
                </td>
            </tr>
            <tr>
                <th colspan="2">Total club</th>
                <th>211</th>
                <th>5</th>
                <th>19</th>
                <th>1</th>
                <th>37</th>
                <th>0</th>
                <th>267</th>
                <th>6
                </th>
            </tr>
            <tr>
                <td rowspan="2"><b><a href="/wiki/Real_Club_Deportivo_Mallorca" title="Real Club Deportivo Mallorca">R.
                            C.
                            D. Mallorca</a></b><br><small><span style="display:none;">España</span><span
                            class="flagicon"><img alt="Bandera de España"
                                src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/20px-Flag_of_Spain.svg.png"
                                decoding="async" title="Bandera de España" width="20" height="13" class="thumbborder"
                                srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/30px-Flag_of_Spain.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/40px-Flag_of_Spain.svg.png 2x"
                                data-file-width="750" data-file-height="500"></span>&nbsp;<a href="/wiki/Espa%C3%B1a"
                            title="España">España</a></small>
                </td>
                <td><a href="/wiki/Primera_Divisi%C3%B3n_de_Espa%C3%B1a" title="Primera División de España">1.ª</a>
                </td>
                <td>2021-22</td>
                <td>25</td>
                <td>0</td>
                <td>3</td>
                <td>0</td>
                <td colspan="2">―</td>
                <td>28</td>
                <td>0
                </td>
            </tr>
            <tr>
                <th colspan="2">Total club</th>
                <th>25</th>
                <th>0</th>
                <th>3</th>
                <th>0</th>
                <th>0</th>
                <th>0</th>
                <th>28</th>
                <th>0
                </th>
            </tr>
            <tr>
                <th colspan="3">Total carrera</th>
                <th>370</th>
                <th>8</th>
                <th>25</th>
                <th>1</th>
                <th>41</th>
                <th>0</th>
                <th>436</th>
                <th>9
                </th>
            </tr>
            <tr>
                <td colspan="16" align="left">
                    <div id="1"><sup><b>(1)</b></sup><small> Incluye datos de la <a href="/wiki/Copa_del_Rey"
                                title="Copa del Rey">Copa del Rey</a></small>
                        <div id="2"><sup><b>(2)</b></sup><small> Incluye datos de la <a
                                    href="/wiki/Liga_Europa_de_la_UEFA" title="Liga Europa de la UEFA">Liga Europa de la
                                    UEFA</a> y la <a href="/wiki/Liga_de_Campeones_de_la_UEFA"
                                    title="Liga de Campeones de la UEFA">Liga de
                                    Campeones de la UEFA</a></small>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>